@{
	Layout = "_DistributorLayout";
    ViewData["Title"] = "Order View";
}
@addTagHelper *, Syncfusion.EJ2
@using CloudVOffice.Core.Domain.Common;
@using CloudVOffice.Core.Domain.Distributor;
<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Distributors</h5>
					<h6 class="sub-heading">  </h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">  </span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-md-8">
                           Order Histroy
                        </div>
                        <div class="col-md-4 text-right float-right">
                            <a href="/PO/POCreate" class="btn btn-success btn-sm"><i class="icon icon-add"></i> Add </a>

                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <ejs-grid id="GridOverview" dataSource="ViewBag.OrderList"
                              allowFiltering="true" allowSorting="true"
                              allowExcelExport="true" allowGrouping="true"
                              allowMultiSorting="true"
                              allowPdfExport="true"
                              enableHover="false" enableHeaderFocus="true"
                              allowResizing="true" autoFit="true" dataBound="dataBound"
                              enableVirtualization="true" allowSelection="true"
                              toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport", "PdfExport", "CsvExport" ,"Search"})" allowPaging="true">

                        <e-grid-filtersettings type="Excel"></e-grid-filtersettings>

                        <e-grid-pagesettings pageCount="4" pageSizes="true"></e-grid-pagesettings>
                        <e-grid-columns>
                            @* <e-grid-column headerText="Action" template="#Actions" width="50"></e-grid-column> *@
                            <e-grid-column field="OrderStatus" headerText="Status" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="DPOUniqueNo" headerText="Order No" textAlign="Left" width="120"></e-grid-column>
                           @*  <e-grid-column field="CreatedDate" headerText="Order Date" textAlign="Left" width="120" Format="dd-MM-yyyy "></e-grid-column>
                            <e-grid-column field="CreatedDate" headerText="Order Time" textAlign="Left" width="120"></e-grid-column> *@
                            <e-grid-column field="TotalQuantity" headerText="Total Quntity" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="TotalAmount" headerText="Total Amount" textAlign="Left" width="120"></e-grid-column>
                            
                        </e-grid-columns>
                    </ejs-grid>

                </div>
            </div>
        </div>
    </div>

</div>




<script id="Actions" type="text/x-template">
    <div class="link">
        <a href="../../WareHouse/PinCode/PinCodeCreate?PinCodeId=${PinCodeId}"><i class="icon-pencil3" style="font-size:22px"></i></a> &nbsp;&nbsp;&nbsp;

        <button onClick="Delete(${PinCodeId})" style="background: transparent;border: none;"><i class="icon-trash" style="font-size:22px"></i></button>
    </div>
</script>


<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("GridOverview").ej2_instances[0];
        if (args.item.id === 'GridOverview_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'GridOverview_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'GridOverview_csvexport') {
            gridObj.csvExport();
        }
    }
    


   
</script>
