@using Syncfusion.EJ2
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Unify Admin Panel">
	<meta name="keywords" content="Admin, Dashboard, Bootstrap4, Sass, CSS3, HTML5, Responsive Dashboard, Responsive Admin Template, Admin Template, Best Admin Template, Bootstrap Template, Themeforest">
	<meta name="author" content="Bootstrap Gallery">
	<link rel="shortcut icon" href="img/favicon.ico">
	<title>Admin Dashboard</title>
	<link href="../../../Frontend/fonts/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="~/Frontend/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Frontend/fonts/icomoon/icomoon.css">
	<link rel="stylesheet" href="~/Frontend/css/main.css">
	<link href="~/Frontend/vendor/chartist/css/chartist.min.css" rel="stylesheet">
	<link href="~/Frontend/vendor/chartist/css/chartist-custom.css" rel="stylesheet">

</head>
<body>
	<div class="app-wrap">
		<header class="app-header">
			<div class="container-fluid">
				<div class="row gutters">
					<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
						<a class="mini-nav-btn" href="#" id="app-side-mini-toggler">
							<i class="icon-menu5"></i>
						</a>
						<a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded="true">
							<i class="icon-chevron-thin-left"></i>
						</a>
					</div>
					@* header image *@
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-4">
						<a href="#" class="logo">
							<img src="~/app/OWLayout_Logo.png" alt="Seller Admin Dashboard">
						</a>
					</div>
					<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
						<ul class="header-actions">
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									@if (User.Identity.IsAuthenticated)
									{
										<img class="avatar" src="~/uploads/DistributorRegistration/@User.Claims.FirstOrDefault(x => x.Type == "Image").Value" alt="@User.Claims.FirstOrDefault(x => x.Type == "DistributorName").Value">
										<span class="user-name">@User.Claims.FirstOrDefault(x => x.Type == "DistributorName").Value</span>
										<i class="icon-chevron-small-down"></i>
									}
								</a>
								<div class="dropdown-menu lg dropdown-menu-right" aria-labelledby="userSettings">
									<ul class="user-settings-list">
										<li>
											<a href="/SellerUser/UpdateSellerProfile">
												<div class="icon">
													<i class="icon-account_circle"></i>
												</div>
												<p>Profile</p>
											</a>
										</li>
										<li>
											<a href="/ChangePassword/ChangePasswordPage">
												<div class="icon red">
													<i class="icon-cog3"></i>
												</div>
												<p>Change Password</p>
											</a>
										</li>
										
									</ul>
									<div class="logout-btn">
										<a href="/DistributorPartner/DistributorLogOut" class="btn btn-primary">Logout</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<div class="app-container">
			<aside class="app-side" id="app-side">
				<div class="side-content ">
					<nav class="side-nav">
						<ul class="unifyMenu" id="unifyMenu">
							<li class="active selected">
								<a href="#" class="has-arrow" aria-expanded="false">
									<span class="has-icon">
										<i class="icon-laptop_windows"></i>
									</span>
									<span class="nav-title">Dashboards</span>
								</a>
								<ul aria-expanded="false" class="collapse in">
									<li>
										<a href='index.html' class="current-page">Dashboard</a>
									</li>
									<li>
										<a href='dashboard2.html'>CRM</a>
									</li>
									
								</ul>
							</li>
							<li>
								<a href="#" class="has-arrow" aria-expanded="false">
									<span class="has-icon">
										<i class="icon-adjust2"></i>
									</span>
									<span class="nav-title">Cool Features</span>
								</a>
								<ul aria-expanded="false">
									<li>
										<a href="filters.html">Content Filter</a>
									</li>
									
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</aside>
			<div class="app-main">
				
				@RenderBody()
			</div>
		</div>
		
	</div>
	<script src="~/Frontend/js/jquery.js"></script>
	<script src="~/Frontend/js/tether.min.js"></script>
	<script src="~/Frontend/js/bootstrap.min.js"></script>
	<script src="~/Frontend/vendor/unifyMenu/unifyMenu.js"></script>
	<script src="~/Frontend/vendor/onoffcanvas/onoffcanvas.js"></script>
	<script src="~/Frontend/js/moment.js"></script>
	<script src="~/Frontend/vendor/slimscroll/slimscroll.min.js"></script>
	<script src="~/Frontend/vendor/slimscroll/custom-scrollbar.js"></script>
	<script src="~/Frontend/vendor/chartist/js/chartist.min.js"></script>
	<script src="~/Frontend/vendor/chartist/js/chartist-tooltip.js"></script>
	<script src="~/Frontend/vendor/chartist/js/custom/custom-line-chart.js"></script>
	<script src="~/Frontend/vendor/chartist/js/custom/custom-line-chart1.js"></script>
	<script src="~/Frontend/vendor/chartist/js/custom/custom-area-chart.js"></script>
	<script src="~/Frontend/vendor/chartist/js/custom/donut-chart2.js"></script>
	<script src="~/Frontend/vendor/chartist/js/custom/custom-line-chart4.js"></script>
	<script src="~/Frontend/js/common.js"></script>
	<ejs-scripts></ejs-scripts>
	@RenderSection("scripts", false);
</body>
</html>