@model CloudVOffice.Data.DTO.WareHouses.Districts.AddDistrictDTO;
@using System.Collections;
@using Newtonsoft.Json;
@{
	Layout = "_MainAppLayout";
	ViewData["Title"] = "AddDistrict";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Ware House</h5>
					<h6 class="sub-heading">  </h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login"></span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="card">
				<form asp-route="/WareHouse/AddDistrict/AddDistrictCreate" method="post" autocomplete="off">

					<div class="card-header">

						<div class="row">
							<div class="col-md-10">
								<b>AddDistrict Create</b>
							</div>
							<div class="col-md-2 ">
								<a href="/WareHouse/AddDistrict/AddDistrictView" class="btn btn-primary btn-sm float-right"><i class="icon-list2"></i> List</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-3">
								<input asp-for="@Model.AddDistrictId" type="hidden" />
								<label for="DistrictName" class="form-label">District Name</label>
								<input asp-for="@Model.DistrictName" type="text" class="form-control" autofocus="autofocus" placeholder="DistrictName" />
								<span asp-validation-for="DistrictName"></span>
							</div>
						</div>
						<div asp-validation-summary="ModelOnly" class="message-error"></div>
					</div>
					<div class="card-body">
						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
